apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/part-of: qwen-ai-platform
type: Opaque
stringData:
  POSTGRES_USER: "{{ postgres_user }}"
  POSTGRES_PASSWORD: "{{ postgres_password }}"
  POSTGRES_DB: "{{ postgres_db_name }}"
  KEYCLOAK_DB_NAME: "{{ postgres_keycloak_db }}"
  PORTAL_DB_NAME: "{{ postgres_portal_db }}"
