apiVersion: v1
kind: Service
metadata:
  name: {{ gateway_service_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app: api-gateway
    app.kubernetes.io/name: api-gateway
    app.kubernetes.io/part-of: qwen-ai-platform
spec:
  type: NodePort
  ports:
  - port: {{ gateway_port }}
    targetPort: {{ gateway_port }}
    nodePort: {{ nodeport_portal }}
    name: http
  selector:
    app: api-gateway
