apiVersion: v1
kind: Service
metadata:
  name: {{ grafana_service_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app: grafana
    app.kubernetes.io/name: grafana
    app.kubernetes.io/part-of: qwen-ai-platform
spec:
  type: NodePort
  ports:
  - port: {{ grafana_port }}
    targetPort: {{ grafana_port }}
    nodePort: {{ nodeport_grafana }}
    name: http
  selector:
    app: grafana
