/* Custom platform styling */
@layer utilities {
    .bg-slate-750 {
        background-color: #243049;
    }
    .bg-slate-850 {
        background-color: #162032;
    }
}

/* Custom scrollbars */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #090d16;
}
::-webkit-scrollbar-thumb {
    background: #232d42;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #2563eb;
}
