apiVersion: v1
kind: Service
metadata:
  name: {{ keycloak_service_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app: keycloak
    app.kubernetes.io/name: keycloak
    app.kubernetes.io/part-of: qwen-ai-platform
spec:
  type: NodePort
  ports:
  - port: {{ keycloak_port }}
    targetPort: {{ keycloak_port }}
    nodePort: {{ nodeport_keycloak }}
    name: http
  selector:
    app: keycloak
