apiVersion: v1
kind: Secret
metadata:
  name: keycloak-secret
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: keycloak
    app.kubernetes.io/part-of: qwen-ai-platform
type: Opaque
stringData:
  KEYCLOAK_ADMIN: "{{ keycloak_admin_user }}"
  KEYCLOAK_ADMIN_PASSWORD: "{{ keycloak_admin_password }}"
  KC_DB_PASSWORD: "{{ postgres_password }}"
