apiVersion: v1
kind: Service
metadata:
  name: {{ qwen_service_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app: qwen-llm
    app.kubernetes.io/name: qwen-llm
    app.kubernetes.io/part-of: qwen-ai-platform
spec:
  type: NodePort
  ports:
  - port: {{ qwen_port }}
    targetPort: {{ qwen_port }}
    nodePort: {{ nodeport_qwen }}
    name: http
  selector:
    app: qwen-llm
